<!-- https://therichpost.com/angular-11-fullcalendar-working-demo/ -->
<app-navbar></app-navbar>
<br>

<div class="container-fluid">
    <div class="row">
    
        <aside class="col-md-2">
            <br>
            <br>
            <br>
            <nav class="card">
                
                <ul class="menu-category">
                    <li> 
                        <input class="form-check-input" type="checkbox" value="" id="1">
                        <label class="form-check-label" for="1">
                        Ingreso de documentos
                        </label>
                    </li>
                    <li> 
                        <input class="form-check-input" type="checkbox" value="" id="2">
                        <label class="form-check-label" for="2">
                        Proceso Licitatorio
                        </label>
                    </li><li> 
                        <input class="form-check-input" type="checkbox" value="" id="3">
                        <label class="form-check-label" for="3">
                        Informe Selección
                        </label>
                    </li><li> 
                        <input class="form-check-input" type="checkbox" value="" id="4">
                        <label class="form-check-label" for="5">
                        Adjudicación Contratos
                        </label>
                    </li><li> 
                        <input class="form-check-input" type="checkbox" value="" id="5">
                        <label class="form-check-label" for="5">
                        Garantías de contratos
                        </label>
                    </li>
                    <li> 
                        <input class="form-check-input" type="checkbox" value="" id="6">
                        <label class="form-check-label" for="6">
                        Imputaciones
                        </label>
                    </li>
                    <li> 
                        <input class="form-check-input" type="checkbox" value="" id="7">
                        <label class="form-check-label" for="7">
                        Modificaciones
                        </label>
                    </li>
                    <li> 
                        <input class="form-check-input" type="checkbox" value="" id="8">
                        <label class="form-check-label" for="8">
                        Liquidaciones
                        </label>
                    </li>
                    <li> 
                        <input class="form-check-input" type="checkbox" value="" id="9">
                        <label class="form-check-label" for="9">
                        Mostrar todo
                        </label>
                    </li>

                        
                </ul>
            </nav>

            <br>
            <hr>
            <br>



            <nav class="card">
                
                <ul class="menu-category">
                    <li> 
                        <input class="form-check-input" type="checkbox" value="" id="1">
                        <label class="form-check-label" for="1">
                        Campamentos
                        </label>
                    </li>
                    <li> 
                        <input class="form-check-input" type="checkbox" value="" id="2">
                        <label class="form-check-label" for="2">
                        Conservación de parques
                        </label>
                    </li><li> 
                        <input class="form-check-input" type="checkbox" value="" id="3">
                        <label class="form-check-label" for="3">
                        FSEV
                        </label>
                    </li><li> 
                        <input class="form-check-input" type="checkbox" value="" id="4">
                        <label class="form-check-label" for="5">
                        Infraestructura Sanitaria
                        </label>
                    </li><li> 
                        <input class="form-check-input" type="checkbox" value="" id="5">
                        <label class="form-check-label" for="5">
                        Pavimentos Pariticpativos
                        </label>
                    </li>
                    <li> 
                        <input class="form-check-input" type="checkbox" value="" id="6">
                        <label class="form-check-label" for="6">
                        Plan Valparaíso
                        </label>
                    </li>
                    <li> 
                        <input class="form-check-input" type="checkbox" value="" id="7">
                        <label class="form-check-label" for="7">
                        Planes urbanos (PUE)
                        </label>
                    </li>
                    <li> 
                        <input class="form-check-input" type="checkbox" value="" id="8">
                        <label class="form-check-label" for="8">
                        Proyecto Urbano (PUI)
                        </label>
                    </li>
                    <li> 
                        <input class="form-check-input" type="checkbox" value="" id="8">
                        <label class="form-check-label" for="8">
                        Recuperación de barrios
                        </label>
                    </li>
                    <li> 
                        <input class="form-check-input" type="checkbox" value="" id="8">
                        <label class="form-check-label" for="8">
                        Espacios Públicos
                        </label>
                    </li>
                    <li> 
                        <input class="form-check-input" type="checkbox" value="" id="8">
                        <label class="form-check-label" for="8">
                        Vialidad Urbana
                        </label>
                    </li>
                    <li> 
                        <input class="form-check-input" type="checkbox" value="" id="9">
                        <label class="form-check-label" for="9">
                        Mostrar todo
                        </label>
                    </li>
                        
                </ul>
            </nav>
        </aside> <!-- col.// -->

    
    <div class="col-md-9">

        <full-calendar  [options]= "calendarOptions"

                            >

</full-calendar>

    </div>
</div>
</div>
