<!-- NAVBAR  -->

<div class="row-w90">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    
        <div class="collapse navbar-collapse" 
            id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
    
            
            <li class="nav-item dropdown">
                <button class="btn btn-primary-outline dropdown-toggle bg-light" 
                        type="button" 
                        id="dropdownMenu2" 
                        data-bs-toggle="dropdown" 
                        aria-expanded="false">
                    Contratos
                </button>
    
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" type="button" routerLink="heroes" >
                    <i class="fa fa-search"></i>
                    Consultar Contrato
                </a>
                <a class="dropdown-item" type="button" routerLink="/heroe/nuevo">
                    <i class="fa fa-file-alt"></i>
                    Ingresar Contrato
                </a>
                <hr class="dropdown-divider">
                <a class="dropdown-item" routerLink="/home" >
                    <i class="fa fa-question-circle"></i>
                    Dropdown #3
                </a>
            </div>

            <li class="nav-item dropdown">
                <button class="btn btn-primary-outline dropdown-toggle bg-light" 
                        type="button" 
                        id="dropdownMenu2" 
                        data-bs-toggle="dropdown" 
                        aria-expanded="false">
                    Reportes
                </button>
    
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" type="button" routerLink="/primerinforme" >
                    <i class="fa fa-chart-bar"></i>
                    Reporte 1
                </a>

                <a class="dropdown-item" type="button" routerLink="/segundoinforme">
                    <i class="fa fa-file-chart-line"></i>
                    Reporte 2
                </a>

                <a class="dropdown-item" type="button" routerLink="/tercerinforme">
                    <i class="fa fa-file-chart-line"></i>
                    Reporte 3
                </a>


                <hr class="dropdown-divider">
                <a class="dropdown-item" routerLink="/calendar" >
                    <i class="fa fa-calendar"></i>
                    Calendario 
                </a>
                <a class="dropdown-item" routerLink="/listcalendar" >
                    <i class="fas fa-clipboard-list"></i>
                    Listado 
                </a>
            </div>
            
    
            <!-- <li class="nav-item">
                <a class="nav-link" 
                
                routerLinkActive="active"
                >
                    Opción 1 
                    <span class="sr-only">
                        (current)
                    </span>
                </a>
                </li>
                <li class="nav-item">
                <a class="nav-link" 
                    
                    routerLinkActive="active"
                    >Opción 2</a>
                </li> -->
        
        </ul>
        <div class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" 
                    type="text" 
                    placeholder="(Ejemplo: 000LP2020)"
                    [(ngModel)]="searchText"
                    name="searchText"
                    aria-label="Search">        
        </div>
        </div>
    </nav>
</div>

    <!-- FIN NAVBAR  -->

    <hr>
    <div class="container">

<div class="row">
    <h3 class="d-flex justify-content-between align-items-center mb-3"> Listado de contratos</h3>
    
<hr>

<div class="row">
<!-- AGREGAR -->
    <div class="col text-right ">
        <button class="btn btn-primary"
                routerLink="/heroe/nuevo">
            <i class="fa fa-plus"> Generar contrato</i>
        </button>
    </div>
</div>

<!-- TABLA -->
<table *ngIf="!cargando && heroes.length > 0"
        class="table mt-3 animated fadeIn faster">
    <thead class="table-dark">
        <tr>
            <th>#</th>
            <th>N° LIC</th>
            <th>Nombre Obra</th>
            <th>Estado</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let heroe of heroes | filterpipe :searchText; let i = index">
            <td>{{i + 1 }}</td>
            <td>{{heroe.nombre}}</td>
            <td>{{heroe.poder}}</td>
            <td>
                <label *ngIf="heroe.vivo" class="badge badge-success">En ejecución</label>
                <label *ngIf="!heroe.vivo" class="badge badge-warning">Informe de Selección</label>

            </td>
            <td>

                    <!-- detalle btn -->
                <button class="btn btn-info mr-2"
                [routerLink]="['/detalle', heroe.id]">
                <i class="fa fa-info-circle"></i>
                </button>

                <!-- Editar btn -->
                <button class="btn btn-info mr-2"
                [routerLink]="['/heroe', heroe.id]">
                <i class="fa fa-pen"></i>
                </button>

                <!-- Eliminar btn -->
                <button class="btn btn-danger mr-2"
                        (click)="borrarHeroe(heroe, i)">
                    <i class="fa fa-trash"></i>
                </button>
            </td>
            
        </tr>
    </tbody>
</table>

<!-- LOADING CARGANDO-->
<div *ngIf="cargando"
    class="alert alert-info text-center mt-3 animated fadeIn faster">
    <h4 class="alert-heading">Cargando</h4>
    <p>
        <i class="fa fa-sync-alt fa-spin fa-2x"></i>
    </p>
    <p class="mb-0">
        Espere por favor
    </p>
</div>

<!-- Mensaje Error-->
<div *ngIf="!cargando && heroes.length === 0" 
    class="alert alert-warning text-center mt-3 animated fadeIn faster">
    <h4 class="alert-heading">No hay registros</h4>
    <p>
        <i class="fa fa-exclamation fa-2x"></i>
    </p>    
</div>

</div>