<div class="row">
    <h3 class="d-flex justify-content-between align-items-center mb-3"> Listado de contratos</h3>
    
<hr>

<div class="row">
<!-- AGREGAR -->
    <div class="col text-right ">
        <button class="btn btn-primary"
                routerLink="/heroe/nuevo">
            <i class="fa fa-plus"> Generar contrato</i>
        </button>
    </div>
</div>

<!-- INPUT SEARCH -->
<div class="form-group">
<input  type="text"
        class="form-control"
        [(ngModel)]="searchText"
        name="searchText"
        placeholder="search text goes here">
</div>


<!-- TABLA -->
<table *ngIf="!cargando && heroes.length > 0"
        class="table mt-3 animated fadeIn faster">
    <thead class="table-dark">
        <tr>
            <th>#</th>
            <th>N° LIC</th>
            <th>Nombre Obra</th>
            <th>Estado</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let heroe of heroes | filterpipe :searchText ; let i = index">
            <td>{{i + 1 }}</td>
            <td>{{heroe.nombre}}</td>
            <td>{{heroe.poder}}</td>
            <td>
                <label *ngIf="heroe.vivo" class="badge badge-success">En ejecución</label>
                <label *ngIf="!heroe.vivo" class="badge badge-danger">Recepcionada</label>

            </td>
            <td>

                    <!-- detalle btn -->
                <button class="btn btn-info mr-2"
                [routerLink]="['/detalle', heroe.id]">
                <i class="fa fa-info-circle"></i>
                </button>

                <!-- Editar btn -->
                <button class="btn btn-info mr-2"
                [routerLink]="['/heroe', heroe.id]">
                <i class="fa fa-pen"></i>
                </button>

                <!-- Eliminar btn -->
                <button class="btn btn-danger mr-2"
                        (click)="borrarHeroe(heroe, i)">
                    <i class="fa fa-trash"></i>
                </button>
            </td>
            
        </tr>
    </tbody>
</table>

<!-- LOADING CARGANDO-->
<div *ngIf="cargando"
    class="alert alert-info text-center mt-3 animated fadeIn faster">
    <h4 class="alert-heading">Cargando</h4>
    <p>
        <i class="fa fa-sync-alt fa-spin fa-2x"></i>
    </p>
    <p class="mb-0">
        Espere por favor
    </p>
</div>

<!-- Mensaje Error-->
<div *ngIf="!cargando && heroes.length === 0" 
    class="alert alert-warning text-center mt-3 animated fadeIn faster">
    <h4 class="alert-heading">No hay registros</h4>
    <p>
        <i class="fa fa-exclamation fa-2x"></i>
    </p>    
</div>
